@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator {
  -webkit-box-sizing: none;
          box-sizing: none;
  border-radius: 30px;
  background: #ecf0f1;
  -webkit-box-shadow: 12px 12px 30px #d7d9d7,  -12px -12px 30px #ffffff;
          box-shadow: 12px 12px 30px #d7d9d7,  -12px -12px 30px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  height: auto;
  width: 400px;
  padding: 40px 25px;
  padding-top: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  margin-bottom: 20px;
  position: relative;
  border-radius: 20px;
  background: #ecf0f1;
  -webkit-box-shadow: inset 5px 5px 5px #d7d9d7,  inset -5px -5px 5px #ffffff;
          box-shadow: inset 5px 5px 5px #d7d9d7,  inset -5px -5px 5px #ffffff;
  font-size: 36px;
  position: relative;
  padding: 20px 10px;
  padding-right: 30px;
  color: #999999;
  text-align: right;
  height: auto;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  padding-top: 20px;
}

#container .calc {
  width: 100%;
  word-wrap: break-word;
  overflow: auto;
}

#container .calc.E {
  color: #ff7979;
  font-size: 15px;
}

.nums-container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ops-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button {
  margin-top: 15px;
  border: none;
  background: #ecf0f1;
  -webkit-box-shadow: 2px 2px 6px #d7d9d7,  -2px -2px 6px #ffffff;
          box-shadow: 2px 2px 6px #d7d9d7,  -2px -2px 6px #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: 20px;
  color: #999999;
  cursor: pointer;
  font-weight: 600;
}

.button:active {
  background: #ecf0f1;
  -webkit-box-shadow: inset 4px 4px 3px #d7d9d7,  inset -4px -4px 3px #ffffff;
          box-shadow: inset 4px 4px 3px #d7d9d7,  inset -4px -4px 3px #ffffff;
}

.button.longg, .button.long {
  width: 60%;
}

.button.longg.longg, .button.long.longg {
  color: #ff7979;
}
/*# sourceMappingURL=index.css.map */